@keyframes slide-left {
    from {
        left: 110%;
    }
    to {
        left: 0;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    color: #FFF;
    position: relative;
}

html, body {
    background: transparent;
    overflow-x: hidden;
}

.message {
    background: repeating-linear-gradient(to bottom, #1E1F22 0px, #1E1F22 2px, #2B2D30 2px, #2B2D30 4px) center center no-repeat;
    margin: 10px 10px 10px 30px;
    border-radius: 10px;
    padding-bottom: 5px;
    animation: slide-left .5s;
}

.message:after {
    display: block;
    position: absolute;
    content: '';
    left: -12px;
    top: -8px;
    background: url('img/other.png') center center no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
}

.message.twitch {
    background: repeating-linear-gradient(to bottom, #4E2267 0px, #4E2267 2px, #5E287D 2px, #5E287D 4px) center center no-repeat;
    background-size: contain;
}

.message.twitch img {
    height: 28px;
}

.message.twitch:after {
    background-image: url("img/yuri.png");
}

.message.goodgame {
    background: repeating-linear-gradient(to bottom, #080EAB 0px, #080EAB 2px, #1E3EB3 2px, #1E3EB3 4px) center center no-repeat;
    background-size: contain;
}

.message.goodgame img {
    height: 36px;
}

.message.goodgame:after {
    background-image: url("img/alliance.png");
}

.message.trovo {
    background: repeating-linear-gradient(to bottom, #AB080C 0px, #AB080C 2px, #BD1616 2px, #BD1616 4px) center center no-repeat;
    background-size: contain;
}

.message.trovo:after {
    background-image: url("img/soviet.png");
}

.message.system {
    background: repeating-linear-gradient(to bottom, #1E1F22 0px, #1E1F22 2px, #2B2D30 2px, #2B2D30 4px) center center no-repeat;
}

.message.success {
    background: repeating-linear-gradient(to bottom, #267F00 0px, #267F00 2px, #309900 2px, #309900 4px) center center no-repeat;
}

.user {
    font-weight: bold;
    border-bottom: 3px solid darkgrey;
    padding: 5px 5px 5px 20px;
}

.content {
    padding: 5px 10px;
}